#info-alarm{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--font-black-color);
    background-color: #FAFAFA;
    height: 36px;
    width: 420px;
}

.fa-circle-info{
    color: rgb(198, 198, 198);
    margin-right: 5px;
}
#info-alarm .fa-chevron-right{
    margin-left: 15px;
    color: rgb(198, 198, 198);
}